In [ ]:
import numpy as np
import pandas as pd

In [ ]:
test = pd.read_html('https://www.sec.gov/Archives/edgar/data/1067983/000095012321002786/xslForm13F_X01/0000950123-21-002786-3286.xml', skiprows = 4)

In [ ]:
BKR = pd.read_html('https://www.sec.gov/Archives/edgar/data/1067983/000095012321002786/xslForm13F_X01/0000950123-21-002786-3286.xml', skiprows = 2)
BKR = BKR[1]
BKR.columns = BKR.iloc[0]
BKR = BKR[1:]
BKR.reset_index(drop = True, inplace = True)

In [ ]:
BKR_old = pd.read_html('https://www.sec.gov/Archives/edgar/data/1067983/000095012320012127/xslForm13F_X01/0000950123-20-012127-1653.xml', skiprows = 2)
BKR_old = BKR_old[1]
BKR_old.columns = BKR_old.iloc[0]
BKR_old = BKR_old[1:]
BKR_old.reset_index(drop = True, inplace = True)

In [ ]:
BKR['CUSIP'][0]

'00287Y109'

In [ ]:
BKR[BKR['CUSIP'] == BKR['CUSIP'][0]]

0 NAME OF ISSUER TITLE OF CLASS      CUSIP  ...      SOLE SHARED NONE
0     ABBVIE INC            COM  00287Y109  ...  25533082      0    0

[1 rows x 12 columns]

In [ ]:
test = pd.concat([BKR, BKR_old], axis = 1)

In [ ]:
test

0               NAME OF ISSUER TITLE OF CLASS      CUSIP  ...      SOLE SHARED NONE
0                   ABBVIE INC            COM  00287Y109  ...  21264316      0    0
1               AMAZON COM INC            COM  023135106  ...    419500      0    0
2               AMAZON COM INC            COM  023135106  ...    113800      0    0
3          AMERICAN EXPRESS CO            COM  025816109  ...   1952142      0    0
4          AMERICAN EXPRESS CO            COM  025816109  ...  17225400      0    0
..                         ...            ...        ...  ...       ...    ...  ...
140  LIBERTY LATIN AMERICA LTD       COM CL C  G9001E128  ...  14166748      0    0
141                        NaN            NaN        NaN  ...   1005607      0    0
142                        NaN            NaN        NaN  ...   1625185      0    0
143                        NaN            NaN        NaN  ...    146177      0    0
144                        NaN            NaN        NaN  ...   1284020      0    0

[145 rows x 24 columns]

In [ ]:
BKR['NAME OF ISSUER'][BKR_old['NAME OF ISSUER'][0]]

KeyError: ignored

In [ ]:
test

[                            0         1          2   ...        9   10 11
 0               AMAZON COM INC       COM  023135106  ...    419500   0  0
 1               AMAZON COM INC       COM  023135106  ...    113800   0  0
 2          AMERICAN EXPRESS CO       COM  025816109  ...   1952142   0  0
 3          AMERICAN EXPRESS CO       COM  025816109  ...    167926   0  0
 4          AMERICAN EXPRESS CO       COM  025816109  ...  17225400   0  0
 ..                         ...       ...        ...  ...       ...  .. ..
 135         LIBERTY GLOBAL PLC  SHS CL C  G5480U120  ...   7346968   0  0
 136                STONECO LTD  COM CL A  G85158106  ...  14166748   0  0
 137  LIBERTY LATIN AMERICA LTD  COM CL A  G9001E102  ...   1005607   0  0
 138  LIBERTY LATIN AMERICA LTD  COM CL A  G9001E102  ...   1625185   0  0
 139  LIBERTY LATIN AMERICA LTD  COM CL C  G9001E128  ...   1284020   0  0

 [140 rows x 12 columns]]

In [ ]:
f = open(r"/content/BKR.txt", "r")
q = f.read()

#f = open(r"/content/new.txt", "r")
#l = f.read()

FileNotFoundError: ignored

In [ ]:
num_cusip = q.find('<cusip>')
ind1 = q.find('<cusip>')
cut1 = q
total_holder = []
for i in range(num_cusip):
  ind1 = cut1.find('<cusip>')
  cut1 = cut1[ind1:]
  end_cus = cut1.find('</cusip>')
  cusip = cut1[7:end_cus]
  val_ind1 = cut1.find('sshPrnamt') #index in cut1
  move_pst = 10
  end_ind1 = cut1[val_ind1:].find('</sshPrnamt>')
  value1 = cut1[val_ind1 + move_pst: val_ind1 + end_ind1]
  cut1 = cut1[val_ind1 + end_ind1:]
  total_holder.append((cusip, value1))
total_holder = pd.DataFrame(total_holder, columns =['cusip', 'shares'])
total_holder['cusip'].replace('', np.nan, inplace=True)
total_holder.dropna(subset=['cusip'], inplace=True)
total_holder

In [ ]:
#run loop for q, run loop for l. For example quarter_old, quarter_now
#old, now
#sum all cusips of same name in dataframe, store in new spot
#sum_old['cusipA'] - sum_now['cusipA']

#for i in range(len(quarter_old)):
#Try loop:
#except ERRORNAME:
  #pass

In [ ]:
total_holder